<div class="panel rounded">
  <table id="employeeList">
    <thead>
      <tr>
        <td *ngFor="let header of headers" style="width:{{ header.width }}%">
          <label>{{ header.text }}</label>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr
        id="row-{{ employee.id }}"
        *ngFor="let employee of employees"
        [class.selected]="employee.id === selectedEmployee.id"
        colorDirective
      >
        <td>
          <div *ngIf="employee.id !== selectedEmployee.id" style="width: 100%">
            <button (click)="edit(employee.id)">Edit</button>
            <label>
              {{ employee.id }}
            </label>
          </div>
          <div *ngIf="employee.id === selectedEmployee.id">
            <button (click)="updateEmp()">Update</button>
            <button (click)="cancelUpdate()">Cancel</button>
          </div>
        </td>

        <td>
          <label>{{ employee.dob | date: "MM-dd-YYYY" }}</label>
          <div *ngIf="employee.id == selectedEmployee.id">
            <input id="dob" [(ngModel)]="selectedEmployee.dob" />
          </div>
        </td>
        <td>
          <label>{{ employee.firstName }}</label>
          <div *ngIf="employee.id == selectedEmployee.id">
            <input id="firstname" [(ngModel)]="selectedEmployee.firstName" />
          </div>
        </td>
        <td>
          <label>{{ employee.lastName }}</label>
          <div *ngIf="employee.id == selectedEmployee.id">
            <input id="lastName" [(ngModel)]="selectedEmployee.lastName" />
          </div>
        </td>
        <td>
          <label>{{ employee.salary | currency: "sek " | uppercase }}</label>
          <div *ngIf="employee.id == selectedEmployee.id">
            <input id="salary" [(ngModel)]="selectedEmployee.salary" />
          </div>
        </td>
        <td>
          <label>{{ employee.dept }}</label>
          <div *ngIf="employee.id == selectedEmployee.id">
            <input id="dept" [(ngModel)]="selectedEmployee.dept" />
          </div>
        </td>
        <td>
          <label>{{ employee.city }}</label>
          <div *ngIf="employee.id == selectedEmployee.id">
            <input id="city" [(ngModel)]="selectedEmployee.city" />
          </div>
        </td>
        <td>
          <label>{{ employee.email }}</label>
          <div *ngIf="employee.id == selectedEmployee.id">
            <input id="email" [(ngModel)]="selectedEmployee.email" />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
