table {
  overflow: hidden;
}

td,
th {
  position: relative;
}
.selected {
  background-color: beige;
}
td input {
  width: 100%;
}

button {
  /* margin-bottom: 10px; */
}
label {
  padding: 10px;
  /* display: inline-block;
  width: 150px;
  text-align: right; */
}
