<div class="panel rounded centeredText">
  <div class="content">
    <div class="dialog">
      <message></message>
      <!-- Logged in -->
      <div class="width50p centered" *ngIf="isAuthenticated === true">
        You are logged in ( as {{ loggedinUser?.firstName }} ) !!
      </div>

      <!-- Users List -->
      <div class="width50p centered" *ngIf="state === 'LIST'">
        Select a user to login !! ( To reach secured areas )
        <ul>
          <li
            class="listButton"
            [class.selected]="hasControlledUserDetails(user.id)"
            *ngFor="let user of knownUsers"
          >
            <label
              *ngIf="!isAuthenticated"
              (click)="selectUser(user.id)"
              class="linkLookAlike"
            >
              {{ user.firstName }}
            </label>
            <label
              [ngClass]="{
                selected: loggedinUser.id === user.id
              }"
              *ngIf="isAuthenticated"
            >
              {{ user.firstName }}
            </label>
            <label
              *ngIf="isAuthenticated"
              (click)="deleteUser(user.id)"
              class="linkLookAlike"
            >
              delete
            </label>
          </li>
        </ul>
      </div>

      <!-- Log in -->
      <div
        class="width50p centered"
        *ngIf="
          isAuthenticated === false &&
          (state === '' || (selectedUser && selectedUser.id >= 0))
        "
      >
        Welcome user {{ selectedUser?.firstName }}, be p(r)etty please login (
        {{ selectedUser.auth?.username }} )!
        <div class="panel rounded centeredText">
          <table>
            <tbody>
              <tr>
                <td>username:</td>
                <td>
                  <input
                    id="username"
                    type="text"
                    placeholder="Type your username"
                    [(ngModel)]="username"
                    autofocus
                  />
                </td>
              </tr>
              <tr>
                <td>password:</td>
                <td>
                  <input
                    id="password"
                    type="password"
                    placeholder="Type your password"
                    [(ngModel)]="password"
                  />
                </td>
              </tr>
              <tr>
                <td>:</td>
                <td>(pretty)</td>
              </tr>
              <tr>
                <td>Login:</td>
                <td>
                  <button *ngIf="isAuthenticated === false" (click)="doLogin()">
                    click here
                  </button>
                </td>
                <td>
                  <a
                    routerLink="../register"
                    class="btn btn-success btn btn-link"
                    >Register</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
