<p>user-details works!</p>

<div class="centeredText">
  <h3>Welcome</h3>
  <span *ngIf="selectedUserId >= 0">
    <h5>User : {{ selectedUser.firstName }}, your details !!</h5>
  </span>
  <span *ngIf="selectedUserId < 0">
    <h5>unknown user !!</h5>
  </span>
</div>

<div class="panel rounded" *ngIf="selectedUser.id >= 0">
  <table id="selectedUser">
    <thead>
      <tr>
        <td *ngFor="let header of headers" style="width:{{ header.width }}%">
          <label>{{ header.text }}</label>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <label>{{ selectedUser.id }}</label>
        </td>
        <td>
          <label id="name">{{ selectedUser.firstName }}</label>
        </td>

        <td>
          <label id="salary">{{ selectedUser.username }}</label>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<p class="linkLookAlike" (click)="goBack()">
  But it's not much here, (click) lets go home!
</p>
