<!-- main app container -->
<div class="d-flex justify-content-center">
  <div class="card m-3">
    <h5 class="card-header">Angular 8 Template-Driven Form</h5>
    <div class="card-body">
      <form
        #form="ngForm"
        name="form"
        (ngSubmit)="form.valid && onSubmit()"
        novalidate
      >
        <div class="form-row">
          <div class="form-group col-5">
            <label [ngClass]="{ 'ng-valid': firstName.valid }">Full Name</label>
            <input
              type="text"
              name="firstName"
              class="form-control"
              [(ngModel)]="model.firstName"
              #firstName="ngModel"
              required
            />
            <div
              class="error"
              *ngIf="firstName.pristine || firstName.errors?.required"
            >
              Field is reqired !
            </div>
          </div>
        </div>
        <div class="form-group">
          <label [ngClass]="{ 'ng-valid': email.valid }">Email</label>
          <input
            type="text"
            name="email"
            class="form-control"
            [(ngModel)]="model.email"
            #email="ngModel"
            required
            email
          />
          <div class="error" *ngIf="email.pristine || email.errors?.required">
            Field is reqired !
          </div>
          <div class="error" *ngIf="email.errors?.email">
            Email format must follow standard, like 'tttt@tttt.tt' !
          </div>
        </div>
        <div class="form-group col-5">
          <label [ngClass]="{ 'ng-valid': phone.valid }">Phone nr</label>
          <input
            type="text"
            name="phone"
            class="form-control"
            [(ngModel)]="model.phone"
            #phone="ngModel"
            required
            pattern="^!*([0-9]!*){10,}$"
          />
          <div class="error" *ngIf="phone.pristine || phone.errors?.required">
            Field is reqired !
          </div>
          <div class="error" *ngIf="phone.errors?.pattern">
            Only numerics please, and minimum 10 digits!
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label [ngClass]="{ 'ng-valid': password.valid }">Password</label>
            <input
              type="password"
              name="password"
              class="form-control"
              [(ngModel)]="model.password"
              #password="ngModel"
              required
            />
            <div
              class="error"
              *ngIf="password.pristine || password.errors?.required"
            >
              Field is reqired !
            </div>
          </div>
          <div class="form-group col">
            <label [ngClass]="{ 'ng-valid': confirmPassword.valid }"
              >Confirm Password</label
            >
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              class="form-control"
              [(ngModel)]="model.confirmPassword"
              #confirmPassword="ngModel"
              required
              validateEqual="password"
            />
            <div
              class="error"
              *ngIf="
                confirmPassword.pristine || confirmPassword.errors?.required
              "
            >
              Field is reqired !
            </div>
            <div
              class="error"
              *ngIf="
                confirmPassword.pristine ||
                confirmPassword.errors?.validateEqual
              "
            >
              Password mismatch !
            </div>
          </div>
        </div>
        <div class="form-group form-check">
          <input
            type="checkbox"
            name="acceptTerms"
            id="acceptTerms"
            class="form-check-input"
            [(ngModel)]="model.acceptTerms"
            #acceptTerms="ngModel"
            required
          />
          <div
            class="error"
            *ngIf="acceptTerms.pristine || acceptTerms.errors?.required"
          >
            Accept Ts & Cs is required
          </div>
          <label
            [ngClass]="{ 'ng-valid': acceptTerms.valid }"
            for="acceptTerms"
            class="form-check-label"
            >Accept Terms & Conditions</label
          >
        </div>
        <div class="text-center">
          <!-- <button
            class="btn btn-primary mr-1"
            [disabled]="!ngForm || !ngForm.valid"
          > 
            Register
          </button> -->
          <button class="btn btn-primary mr-1" [disabled]="!form.valid">
            Register
          </button>
          <button class="btn btn-secondary" type="reset">Clear</button>
        </div>
      </form>
    </div>
  </div>
</div>
