<div class="container lowered">
  <div class="centered">
    <div
      class="panel panel-primary draggable-panel toolbar-panel ui-draggable ui-resizable"
      id="toolbox-tools"
    >
      <div class="panel-heading lang-panel-header-tools">
        <img
          width="40"
          alt="Angular Logo"
          src="../assets/images/AngularLogo.svg"
        />
        <span>{{ title }}</span>

        <nav>
          <ul>
            <li><a [routerLink]="['/until-module-4']">Until Module 4</a></li>
            <li>
              <a [routerLink]="['/services-injection']"
                >4. Services-Injection</a
              >
            </li>
            <li>
              <a [routerLink]="['/services-httpclient']"
                >4. Services-HttpClient</a
              >
            </li>
          </ul>
        </nav>

        <i class="fa fa-times pull-right close-panel" id="close-toolbox-tools">
        </i>
        <i class="fa pull-right fa-chevron-down" id="toggle-toolbox-tools"></i>
      </div>
      <div class="panel-body">
        <router-outlet> </router-outlet>
      </div>
      <div class="panel-footer bottom">Panel footer</div>
    </div>
  </div>
</div>
