<div class="container lowered">
  <div class="centered">
    <div
      class="panel panel-primary draggable-panel toolbar-panel ui-draggable ui-resizable"
      id="toolbox-tools"
    >
      <div class="panel-heading lang-panel-header-tools">
        <img
          width="40"
          alt="Angular Logo"
          src="../assets/images/AngularLogo.svg"
        />
        <span>{{ title }}</span>

        <nav>
          <ul>
            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a [routerLink]="['']">Home</a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/until-module-4']">Until Module 4</a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/services-injection']"
                >4. Services-Injection</a
              >
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/services-httpclient']"
                >4. Services-HttpClient</a
              >
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/secure-area']">SecureArea</a>
            </li>
            <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }"
            >
              <a [routerLink]="['/my-page']">My Page</a>
            </li>
          </ul>
        </nav>

        <i class="fa fa-times pull-right close-panel" id="close-toolbox-tools">
        </i>
        <i class="fa pull-right fa-chevron-down" id="toggle-toolbox-tools"></i>
      </div>
      <div class="panel-body mainwidow">
        <div class="panel-body">
          <router-outlet> </router-outlet>
        </div>
      </div>
      <div class="panel-footer bottom">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
